modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "xsimd", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Satellite Classifier App"

[[workflows.workflow]]
name = "Satellite Classifier App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m pip install opencv-python scikit-learn scikit-image numpy pandas matplotlib scipy joblib && python main.py"
waitForPort = 5000
